*{margin: 0; padding:0}
body{
        background-color:  #ffea00;
}
.form-container{
	width:250px;
	height: auto;
	padding: 20px 30px;
	backgroud-color: white;
	barder-radius: 10px;
	box-shadow: 0 0 10px 0 #000;
	margin: auto;
	position: relative;
}

.user-img{
	background:url('user.png')no-repeat;
	width: 70px;
	height: 70px;
	background-size: 100%;
	position: absolute;
	top:-40px;
	left: 125px;
}
ul.list{
list-style-type: none;
tesxt-align: center;
}

ul.list li{
width: 250px;
margin-bottom: 15px;
}

ul.list li input{
    width: 250px;
    border-radius: 25px;
    height:25px;
    text-align: center;
    padding: px 0px;
    border: none;
    backgroud-color: #d3d3d3;
    border-radius: 5px;
}

ul.list li input[type="button"]{
   background-color: #4690fb;
   color: #fff;
}
 
ul.list li:nth-child(5){
    text-align: center;
    color: blue;
}
